<!DOCTYPE html>
Añadir comentario: <p>

<form method="post" action="/quizes/<%= quizid %>/comments/" >
	<input type"text" id="comment" name="comment[texto]" placeholder="Inserte aqui su comentario"/> <p>
	<input type="submit" value="Salvar">
</form>